services:
  consul:
    image: hashicorp/consul:1.17
    container_name: consul-server
    ports:
      - "8500:8500"
    command: agent -server -ui -bootstrap-expect=1 -client=0.0.0.0
    networks:
      - app_network

  # Mock notification service
  notification-mock:
    image: mockserver/mockserver:5.15.0
    container_name: notification-mock-service
    ports:
      - "9090:1080"
    environment:
      MOCKSERVER_INITIALIZATION_JSON_PATH: /config/mockserver-init.json
    volumes:
      - ./mockserver-config.json:/config/mockserver-init.json
    networks:
      - app_network

  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
    depends_on:
      - consul
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      EXTERNAL_NOTIFICATION_SERVICE_URL: http://notification-mock:1080
    depends_on:
      consul:
        condition: service_started
      notification-mock:
        condition: service_started
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app_network:
    driver: bridge

